{% extends "base_original.html" %} {% load staticfiles %} {% block content %}
<!-- <img src="{% static "magazine/images/comm_crop.jpeg" %}" class = "header-image img-responsive" alt="Main Image" > -->


<div class="sidenav">
{% if ads %} {% for ad in ads %}
{% if forloop.counter0 < 2%}
        <div class="col-md-12">
            <article>
                <a href="/advertise" class="sponsored-link"> Sponsored </a>
                <figure class="resize-image" style="margin:auto;">
                    <a href="{{ ad.url }}"> <img src="{{ ad.image.url }}" class="img-responsive" alt="Main Image"> </a>
                </figure>
        </div>
        <br>
        {% endif %}
        {% endfor %} {% endif %}
</div>

<div class="sidenavright ">
{% if ads %} {% for ad in ads %}
{% if forloop.counter0 >= 2%}
        <div class="col-md-12">
            <article>
                <a href="/advertise" class="sponsored-link"> Sponsored </a>
                <figure class="resize-image" style="margin:auto;">
                    <a href="{{ ad.url }}"> <img src="{{ ad.image.url }}" class="img-responsive" alt="Main Image"> </a>
                </figure>
        </div>
        <br>
        {% endif %}
        {% endfor %} {% endif %}
</div>


<div class="container">
    <div class="row">
    <h1 class="header">CURRENT ISSUE: <a href="{{issue.get_absolute_url}}"> {{issue}} </a></h1> 
    <!--<div class="col-md-2">
                <img src="static/magazine/images/files/sky.png" class="img-responsive" alt="Main Image">
    </div>-->
    {% for section, article in sections.items %} 
    {% if forloop.counter0|divisibleby:3 %}
    <div class="row">
        {% endif %}
        
        <div class="col-md-6">
            <a href="./{{section}}"><h4 class="subheader-article-name">{{section|upper}}</h4></a>
            <a href="{{ article.get_absolute_url }}" class="no-decoration">
                {% for author in article.contributors.all %}
                <h4 class="subheader-article-name"> <span class="black"> {{article.title}} </span> <span class="grey"> By {{ author.name }} </span></h4> </a>
            {% endfor %} {% if section == "art" %}
            <br>
            <figure class="resize-image" style="margin:auto;">
                <!--pass in art image link HERE-->
                <img src="{{ MEDIA_URL }}{{article.image.photo|safe}}" class="img-responsive" alt="Main Image">
            </figure>
            {% else %}
            {% if section == "poetry" %}
            <p class="article-summary-first"> {{article.teaser|safe|truncatewords:10}}</p>
            {% else %}
            <p class="article-summary-first"> {{article.teaser|safe|truncatewords:20}}</p>
            {% endif %}
            <p> <a href="{{ article.get_absolute_url }}" class="read-more">Read More</a></p>
            {% if section != "art" %}
                <hr>
                {% endif %}
            {% endif %}
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    {% endif %} {% endfor %}





    <div class="row">
    </div>
    <h1 class="header">MOST POPULAR</h1>
     {% for section, article in sections.items %}
        {% if forloop.counter0 < 5 %}
        <div class="col-md-6" >
            <!--<a href="./{{section}}"><h4 class="subheader-article-name">{{section|upper}}</h4></a>-->
            <a href="{{ article.get_absolute_url }}" class="no-decoration">
                {% for author in article.contributors.all %}
                <h4 class="subheader-article-name"> <span class="borders"><span class="black"> {{article.title}} </span> <span class="grey"> By {{ author.name }} </span></span></h4> </a>
                {% if section != "art" %}
                <hr>
                {% endif %}
                {% if section == "art" %}
                <br>
            <figure class="resize-image" style="margin:auto;">
                <!--pass in art image link HERE-->
                <img src="static/magazine/images/files/166_0.jpg" class="img-responsive" alt="Main Image">
            </figure>
            {% else %}
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    {% if forloop.counter|divisibleby:5 %}
    </div>
    {% endif %} {% endfor %}





    <div class="row">
    <h1 class="header">FROM THE BLOG</h1>
     {% for title, post in blog.items %}
            {% if post.first_image_id %}
            <div class="col-md-4">
            <figure style="margin-bottom: 10px;" class="container-blog"><a href="{{post.get_absolute_url}}" class="underline"><img class='img-responsive img-blog' style="margin: 0 auto;" src="{{post.first_image.path}}"></a></figure> </div>
            {% endif %}
            {% if post.lead_photo and post.lead_photo|length > 0 %}
            <div class="col-md-4">
             <figure><a href="{{post.get_absolute_url}}" class="no-decoration"><img class='img-responsive' style="margin: 0 auto;" src="{{MEDIA_URL}}{{ post.lead_photo }}"></a></figure></div>
             <div class="col-md-8">
            <a href="{{ post.get_absolute_url }}" class="no-decoration">
                <h4 class="subheader-article-name-blog-home"> {{post.title}}</h4> </a>
            {% if post.authors.all %} {% for author in post.authors.all %} {% if forloop.first %}{% else %} {% if forloop.last %} and {% else %}<span style="margin-left:-5px;">,</span>{% endif %} {% endif %}
            <a href="{{ post.get_absolute_url }}" class="no-decoration">
                <h3 class="subheader-article-author-blog-home"> {{ author }} </h3> </a>
            {% endfor %} {% else %}
            {% endif %}
            <!-- How to check if image exists:
            http://stackoverflow.com/questions/6637168/python-django-templates-and-testing-if-a-variable-is-null-or-empty-string?rq=1
            http://stackoverflow.com/questions/12507281/determine-empty-template-variable-in-django -->
            {% if post.first_image_id %}
            <figure class="resize-image" style="margin:auto;">
                <a href="{{post.get_absolute_url}}"><img class='img-responsive' src="{{post.first_image.path}}"></a>
            </figure>
            {% endif %}
            <p class="article-summary"> {{post.teaser|safe}}</p>
            <p><a class="read-more" href="{{post.get_absolute_url}}">Read More</a></p></div>
            {% else %}
            <div class="col-md-12">
            <a href="{{ post.get_absolute_url }}" class="no-decoration">
                <h4 class="subheader-article-name-blog-home"> {{post.title}}</h4> </a>
            {% if post.authors.all %} {% for author in post.authors.all %} {% if forloop.first %}{% else %} {% if forloop.last %} and {% else %}<span style="margin-left:-5px;">,</span>{% endif %} {% endif %}
            <a href="{{ post.get_absolute_url }}" class="no-decoration">
                <h3 class="subheader-article-author-blog-home"> {{ author }} </h3> </a>
            {% endfor %} {% else %}
            {% endif %}
            <!-- How to check if image exists:
            http://stackoverflow.com/questions/6637168/python-django-templates-and-testing-if-a-variable-is-null-or-empty-string?rq=1
            http://stackoverflow.com/questions/12507281/determine-empty-template-variable-in-django -->
            {% if post.first_image_id %}
            <figure class="resize-image" style="margin:auto;">
                <a href="{{post.get_absolute_url}}"><img class='img-responsive' src="{{post.first_image.path}}"></a>
            </figure>
            {% endif %}
            <p class="article-summary"> {{post.teaser|safe}}</p>
            <p><a class="read-more" href="{{post.get_absolute_url}}">Read More</a></p></div>
            {% endif %}
            
        {% endfor %}




    <div class="row">
    </div>
    <h1 class="header">MORE ISSUES</h1>
    <div class="h-content">
        <div class="hider">
        {% for issue in issues %}
        {% if forloop.counter0 < 10%}
            {% if issue.cover_image and issue.cover_image|length > 0 %}
            <div class="col-md-112">
            <span><figure><a href="{{issue.get_absolute_url}}" class="no-decoration"><img class='img-responsive' style="margin: 0 auto;" src="{{ issue.cover_image.url }}"></a></figure></span></div>
            {% else %}
            <div class="col-md-112">
            <figure><a href="{{issue.get_absolute_url}}"><img class='img-responsive' style="margin: 0 auto;" src="{{MEDIA_URL}}image-not-available.jpg"></a></figure>
            </div>
            {% endif %}
        {% endif %}
        {% endfor %}
        </div>
    </div>
    </div>

    <div class="row">
        <div class="ads">
        {% if ads %} {% for ad in ads %}
        <div class="col-md-4">
            <article>
                <a href="/advertise" class="sponsored-link"> Sponsored </a>
                <figure class="resize-image" style="margin:auto;">
                    <!--pass in art image link HERE-->
                    <a href="{{ ad.url }}"> <img src=" {{ ad.image.url }}" class="img-responsive" alt="Main Image"> </a>
                </figure>
        </div>
        {% endfor %} {% endif %}
    </div>


</div>
{% endblock %}
